<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit molestias atque voluptas aliquam minus debitis aspernatur perferendis iste omnis exercitationem qui illum cumque, iure, sequi sint beatae quis ullam ipsa.</p>
    {{> footer}}
</body>
</html>