<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <ul>
        <li>Aprender NodeJs.</li>
    </ul>
    {{> footer}}
</body>
</html>